<%- include('../layouts/header') %>
    <!-- END nav -->
    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('/styles/img/bg_2.jpg');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-end justify-content-center">
          <div class="col-md-9 ftco-animate mb-5 text-center">
          	<p class="breadcrumbs mb-0"><span class="mr-2"><a href="/client">Trang chủ <i class="fa fa-chevron-right"></i></a></span> <span>Thanh toán <i class="fa fa-chevron-right"></i></span></p>
            <h2 class="mb-0 bread">Thanh toán</h2>
          </div>
        </div>
      </div>
    </section>

    <section class="ftco-section">
    	<div class="container">
    		<div class="row justify-content-center">
          <div class="col-xl-10 ftco-animate">
						<form action="#" class="billing-form">
							<h3 class="mb-4 billing-heading">Chi tiết biuld</h3>
	          	<div class="row align-items-end">
	          		<div class="col-md-6">
	                <div class="form-group">
	                	<label for="username">Tài khoản</label>
	                  <input type="text" class="form-control" placeholder="Tài khoản" value="<%= userInfo.data[0].username %>" disabled>
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="full_name">Họ tên</label>
	                  <input type="text" id="full_name" name="full_name" class="form-control" placeholder="Họ tên"value="<%= userInfo.data[0].full_name %>" required>
	                </div>
                </div>
                <div class="w-100"></div>
		            <div class="col-md-12">
		            	<div class="form-group">
		            		<label for="country">Quốc gia</label>
		            		<div class="select-wrap">
		                  <div class="icon"><span class="ion-ios-arrow-down"></span></div>
		                  <select name="" id="" class="form-control">
		                  	<option value="">Việt Nam</option>
		    
		                  </select>
		                </div>
		            	</div>
		            </div>
		            <div class="w-100"></div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                	<label for="address">Địa chỉ cụ thể</label>
	                  <input type="text" name="address" id="address" class="form-control" placeholder="Địa chỉ nhà " required>
	                </div>
		            </div>
		            <div class="col-md-6">
		            	<div class="form-group">
	                  <input type="text" class="form-control" placeholder="Ghi chú thêm">
	                </div>
		            </div>
		            <div class="w-100"></div>
		    
		            <div class="w-100"></div>
		            <div class="col-md-6">
	                <div class="form-group">
	                	<label for="phone_number">Số điện thoại</label>
	                  <input type="text" id="phone_number" name="phone_number" class="form-control" placeholder="Số điện thoại" value="<%= userInfo.data[0].phone_number %>">
	                </div>
	              </div>
	              <div class="col-md-6">
	                <div class="form-group">
	                	<label for="email">Email</label>
	                  <input type="email" id="email" name="email" class="form-control" placeholder="email">
	                </div>
                </div>
                <div class="w-100"></div>

	            </div>
	    



	          <div class="row mt-5 pt-3 d-flex">
	          	<div class="col-md-6 d-flex">
	          		<div class="cart-detail cart-total p-3 p-md-4">
						<h3>Build</h3>
						<p class="d-flex">
							<span>Sản Phẩm</span>
							<span><% cart_products.forEach(element => { %>
								<%= element.name + ',' %>
						<%	}); %></span>
						</p>
						<p class="d-flex">
							<span>Mã giảm giá</span>
							<span>0</span>
						</p>

						<hr>
						<p class="d-flex total-price">
							<span>Tổng tiền</span>
							<span><%=totalPrice.toLocaleString('vi-VN', {
								style: 'currency' , currency: 'VND' })%></span>
						</p>
    				</div>
	          	</div>
	          	<div class="col-md-6">
	          		<div class="cart-detail p-3 p-md-4">
	          			<h3 class="billing-heading mb-4">Phương thức thanh toán</h3>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2">Thanh toán khi nhận hàng</label>
											</div>
										</div>
									</div>
									<div class="form-group">
										<div class="col-md-12">
											<div class="radio">
											   <label><input type="radio" name="optradio" class="mr-2"> MOMO</label>
											</div>
										</div>
									</div>
						
									<p><button type="submit" class="btn btn-primary py-3 px-4">Đặt hàng </button></p>
								</div>
							</form><!-- END -->
	          	</div>
	          </div>
          </div> <!-- .col-md-8 -->
        </div>
    	</div>
    </section>

    <%- include('../layouts/footer') %>
  </body>
</html>