<%- include('../layouts/header') %>
    <!-- END nav -->

    <section class="hero-wrap hero-wrap-2" style="background-image: url('/styles/img/bg_2.jpg');"
        data-stellar-background-ratio="0.5">
        <div class="overlay"></div>
        <div class="container">
            <div class="row no-gutters slider-text align-items-end justify-content-center">
                <div class="col-md-9 ftco-animate mb-5 text-center">
                    <p class="breadcrumbs mb-0"><span class="mr-2"><a href="index.html">Trang chủ <i
                                    class="fa fa-chevron-right"></i></a></span> <span>Sản phẩm <i
                                class="fa fa-chevron-right"></i></span></p>
                    <h2 class="mb-0 bread">
                        <% let displayedCategories=[]; cate_products.forEach(element=> {
                            categories_list.forEach(e => {
                            if (element.categorie_id == e.id && !displayedCategories.includes(e.id)) {
                            %>
                            <%= e.name %>
                                <% displayedCategories.push(e.id); } }); }); %>
                                <% if (typeof message !== 'undefined') { %>
                      <h2 class="mb-0 bread"><%= message %></h2>
                  <% } %>
                    </h2>
                </div>
            </div>
        </div>
    </section>

    <section class="ftco-section">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="row mb-4">
                        <div class="col-md-12 d-flex justify-content-between align-items-center">



                        </div>
                    </div>
                    <div class="row">
                        <% cate_products.forEach(element=> { %>
                            <div class="col-md-3 d-flex">
                                <div class="product ftco-animate">
                                    <div class="img d-flex align-items-center justify-content-center">
                                        <img src="/uploads/<%=element.img %>">
                                        <div class="desc">
                                            <p class="meta-prod d-flex">
                                                	<a href="#" id="add-to-cart-btn"
											class="add-to-cart-btn d-flex align-items-center justify-content-center"
											data-product-id="<%= element.id %>" 
											data-product-name="<%= element.name %>"
											data-product-price="<%= element.price %>"
											data-product-img="/uploads/<%= element.img %>">
											<i class="bi bi-cart-plus text-white fa-1x"></i>
										</a>

                                                <a href="/client/products_details/<%= element.id %>"
                                                    class="d-flex align-items-center justify-content-center"><i
                                                        class="bi bi-eye text-white fa-1x"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                    <div class="text text-center">

                                        <span class="category">
                                            <% categories_list.forEach(e=> { %>
                                                <% if(element.categorie_id===e.id){%>
                                                    <%= e.name %>
                                                        <% } %>
                                                            <% }); %>
                                        </span>
                                        <h2>
                                            <%=element.name %>
                                        </h2>
                                        <p class="mb-0"><span
                                                class="price font-weight-bold text-danger "><%=element.price.toLocaleString('vi-VN',
                                                    { style: 'currency' , currency: 'VND' }) %></span></p>
                                    </div>
                                </div>
                            </div>

                            <% }); %>


                    </div>


                </div>


            </div>

        </div>
    </section>
    <%- include('../layouts/footer') %>
        </body>

        </html>