<%- include('../layouts/header') %>
	<!-- END nav -->
	<style>
		.rate {

			border-bottom-right-radius: 12px;
			border-bottom-left-radius: 12px;

		}



		.ratings {
			display: flex;
			flex-direction: row-reverse;
			justify-content: center
		}

		.ratings>input {
			display: none
		}

		.ratings>label {
			position: relative;
			width: 1em;
			font-size: 30px;
			font-weight: 300;
			color: #FFD600;
			cursor: pointer
		}

		.ratings>label::before {
			content: "\2605";
			position: absolute;
			opacity: 0
		}

		.ratings>label:hover:before,
		.ratings>label:hover~label:before {
			opacity: 1 !important
		}

		.ratings>input:checked~label:before {
			opacity: 1
		}

		.ratings:hover>input:checked~label:before {
			opacity: 0.4
		}


		.buttons {
			top: 36px;
			position: relative;
		}


		.rating-submit {
			border-radius: 15px;
			color: #fff;
			height: 49px;
		}


		.rating-submit:hover {

			color: #fff;
		}

		.anime__review__item__pic {
			float: left;
			margin-right: 20px;
			position: relative;
		}

		.anime__review__item__pic img {
			height: 50px;
			/* width: 50px; */
			border-radius: 50%;
		}

		.anime__review__item__pic:before {
			position: absolute;
			right: -30px;
			top: 15px;
			border-top: 15px solid transparent;
			border-left: 15px solid rgb(241, 234, 234);
			content: "";
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			transform: rotate(45deg);
		}

		.anime__review__item__text {
			width: 500px;
			overflow: hidden;
			/* background: white; */
			border: 1px solid rgb(255, 255, 255);
			box-shadow: inset -1px -2px 9px rgb(211, 209, 209);
			padding: 18px 30px 16px 20px;
			border-radius: 10px;
			color: black;
		}
	</style>
	<style>
		.rating-1 {
			width: 120px;
			height: 24px;
			position: relative;
			background-color: white;
		}

		progress.rating-bg {
			-webkit-appearance: none;
			appearance: none;
			border: none;
			display: inline-block;
			height: 24px;
			width: 100%;
			color: #FBD947;
		}

		progress.rating-bg::-webkit-progress-value {
			background-color: #FBD947;
		}

		progress.rating-bg::-moz-progress-bar {
			background-color: #FBD947;
		}

		.rating-1 svg {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
		}

		#fivestars-1 path {
			border: none !important;
		}

		button {
			font-family: inherit;
			font-size: 18px;
			background: linear-gradient(to bottom, #4dc7d9 0%, #66a6ff 100%);
			color: white;
			padding: 0.8em 1.2em;
			display: flex;
			border: none;
			border-radius: 25px;
			box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
			transition: all 0.3s;
		}

		button:hover {
			transform: translateY(-3px);
			box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
		}

		button:active {
			transform: scale(0.95);
			box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
		}

		button span {
			display: block;
			margin-left: 0.4em;
			transition: all 0.3s;
		}

		button svg {
			width: 18px;
			height: 18px;
			fill: white;
			transition: all 0.3s;
		}

		button .svg-wrapper {
			display: flex;
			align-items: center;
			justify-content: center;
			width: 30px;
			height: 30px;
			border-radius: 50%;
			background-color: rgba(255, 255, 255, 0.2);
			margin-right: 0.5em;
			transition: all 0.3s;
		}

		button:hover .svg-wrapper {
			background-color: rgba(255, 255, 255, 0.5);
		}

		button:hover svg {
			transform: rotate(45deg);
		}

		.rating {
			display: flex;
			flex-direction: row-reverse;
			gap: 0.3rem;
			--stroke: #666;
			--fill: #ffc73a;
		}

		.rating input {
			appearance: unset;
		}

		.rating label {
			cursor: pointer;
		}

		.rating svg {
			width: 2rem;
			height: 2rem;
			overflow: visible;
			fill: transparent;
			stroke: var(--stroke);
			stroke-linejoin: bevel;
			stroke-dasharray: 12;
			animation: idle 4s linear infinite;
			transition: stroke 0.2s, fill 0.5s;
		}

		@keyframes idle {
			from {
				stroke-dashoffset: 24;
			}
		}

		.rating label:hover svg {
			stroke: var(--fill);
		}

		.rating input:checked~label svg {
			transition: 0s;
			animation: idle 4s linear infinite, yippee 0.75s backwards;
			fill: var(--fill);
			stroke: var(--fill);
			stroke-opacity: 0;
			stroke-dasharray: 0;
			stroke-linejoin: miter;
			stroke-width: 8px;
		}

		@keyframes yippee {
			0% {
				transform: scale(1);
				fill: var(--fill);
				fill-opacity: 0;
				stroke-opacity: 1;
				stroke: var(--stroke);
				stroke-dasharray: 10;
				stroke-width: 1px;
				stroke-linejoin: bevel;
			}

			30% {
				transform: scale(0);
				fill: var(--fill);
				fill-opacity: 0;
				stroke-opacity: 1;
				stroke: var(--stroke);
				stroke-dasharray: 10;
				stroke-width: 1px;
				stroke-linejoin: bevel;
			}

			30.1% {
				stroke: var(--fill);
				stroke-dasharray: 0;
				stroke-linejoin: miter;
				stroke-width: 8px;
			}

			60% {
				transform: scale(1.2);
				fill: var(--fill);
			}
		}
	</style>

	<header class="site-header d-flex flex-column justify-content-center align-items-center">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 col-12 text-center">

					<h2 class="mb-0">Chi tiết</h2>
				</div>

			</div>
		</div>
	</header>
	<section class="latest-podcast-section section-padding pb-0" id="section_2">
		<div class="container">
			<div class="row justify-content-center">

				<div class="col-lg-10 col-12">
					<div class="section-title-wrap mb-5">
						<h4 class="section-title">Bài đăng</h4>
					</div>

					<div class="row">
						<div class="col-lg-3 col-12">
							<div class="custom-block-icon-wrap">
								<div class="custom-block-image-wrap custom-block-image-detail-page">
									<img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=post_cate.images%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9"
										class="custom-block-image img-fluid" alt="">
								</div>
							</div>
						</div>

						<div class="col-lg-9 col-12">
							<div class="custom-block-info">
								<div class="custom-block-top d-flex mb-1">
									<small class="me-4">
										<!-- <a href="#">
											<i class="bi-play"></i>
											Nghe ngay
										</a> -->

									</small>

									<small>
										<i class="bi-clock-fill custom-icon"></i>
										10 phút
									</small>


								</div>
								<h2 class="mb-2">
									<%= post_cate.title %>
								</h2>

								<p>
									<%= post_cate.description %>
								</p>
								<div class="mt-5">
									<audio class="w-100" controls loop
										src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/audio%2F<%=post_cate.audio%>?alt=media&token=73f7ac89-bf7a-4245-805b-b37323ff0bf9">

									</audio>
								</div>
								<div
									class="profile-block profile-detail-block d-flex flex-wrap align-items-center mt-5">
									<div class="d-flex mb-3 mb-lg-0 mb-md-0">
										<img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=post_cate.images_customers%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9"
											class="profile-block-image img-fluid" alt="">

										<p>
											<%= post_cate.username %>
												<img src="/styles/images/verified.png" class="verified-image img-fluid"
													alt="">
												<strong>Người đăng</strong>
										</p>

									</div>

									<ul class="social-icon ms-lg-auto ms-md-auto">
										<li class="social-icon-item">
											<a href="#" class="social-icon-link bi-facebook"></a>
										</li>

										<li class="social-icon-item">
											<a href="#" class="social-icon-link bi-instagram"></a>
										</li>

										<li class="social-icon-item">
											<a href="#" class="social-icon-link bi-whatsapp"></a>
										</li>
									</ul>
								</div>
							</div>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>


	<section class="related-podcast-section section-padding">
		<div class="container">
			<div class="row">

				<div class="col-lg-12 col-12">
					<div class="section-title-wrap mb-5">
						<h4 class="section-title">Những thứ liên quan</h4>
					</div>
				</div>

				<div class="col-lg-4 col-12 mb-4 mb-lg-0">
					<div class="custom-block custom-block-full">
						<div class="custom-block-image-wrap">
							<a href="#">
								<img src="/styles/images/food/mon nuong.jpg" class="custom-block-image img-fluid"
									alt="">
							</a>
						</div>

						<div class="custom-block-info">
							<h5 class="mb-2">
								<a href="#">
									Món nướng
								</a>
							</h5>

							<div class="profile-block d-flex">
								<img src="/styles/images/profile/woman-posing-black-dress-medium-shot.jpg"
									class="profile-block-image img-fluid" alt="">

								<p>Elsa
									<strong>Chuyên gia</strong>
								</p>
							</div>

							<p class="mb-0">Chuyên gia bình phẩm về những món đồ nướng</p>

							<div class="custom-block-bottom d-flex justify-content-between mt-3">
								<a href="#" class="bi-headphones me-1">
									<span>100k</span>
								</a>

								<a href="#" class="bi-heart me-1">
									<span>2.5k</span>
								</a>
								<a href="#" class="bi-chat me-1">
									<span>924k</span>
								</a>
							</div>
						</div>

						<div class="social-share d-flex flex-column ms-auto">
							<a href="#" class="badge ms-auto">
								<i class="bi-heart"></i>
							</a>

							<a href="#" class="badge ms-auto">
								<i class="bi bi-share-fill"></i>

							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12 mb-4 mb-lg-0">
					<div class="custom-block custom-block-full">
						<div class="custom-block-image-wrap">
							<a href="#">
								<img src="/styles/images/food/mon xao.jpg" class="custom-block-image img-fluid" alt="">
							</a>
						</div>

						<div class="custom-block-info">
							<h5 class="mb-2">
								<a href="#">
									Món xào
								</a>
							</h5>

							<div class="profile-block d-flex">
								<img src="/styles/images/profile/smartboy.jpg" class="profile-block-image img-fluid"
									alt="">

								<p>
									Taylor
									<img src="images/verified.png" class="verified-image img-fluid" alt="">
									<strong>Chuyên gia</strong>
								</p>
							</div>

							<p class="mb-0">Chuyên gia bình phẩm về những món xào</p>

							<div class="custom-block-bottom d-flex justify-content-between mt-3">
								<a href="#" class="bi-headphones me-1">
									<span>100k</span>
								</a>

								<a href="#" class="bi-heart me-1">
									<span>2.5k</span>
								</a>

								<a href="#" class="bi-chat me-1">
									<span>924k</span>
								</a>
							</div>
						</div>

						<div class="social-share d-flex flex-column ms-auto">
							<a href="#" class="badge ms-auto">
								<i class="bi-heart"></i>
							</a>

							<a href="#" class="badge ms-auto">
								<i class="bi bi-share-fill"></i>

							</a>
						</div>
					</div>
				</div>

				<div class="col-lg-4 col-12">
					<div class="custom-block custom-block-full">
						<div class="custom-block-image-wrap">
							<a href="#">
								<img src="/styles/images/food/mon nuoc.jpg" class="custom-block-image img-fluid" alt="">
							</a>
						</div>

						<div class="custom-block-info">
							<h5 class="mb-2">
								<a href="#">
									Món nước
								</a>
							</h5>

							<div class="profile-block d-flex">
								<img src="/styles/images/profile/handsome-asian-man-listening-music-through-headphones.jpg"
									class="profile-block-image img-fluid" alt="">

								<p>
									William
									<img src="images/verified.png" class="verified-image img-fluid" alt="">
									<strong>Vlogger</strong>
								</p>
							</div>

							<p class="mb-0">Chuyên gia về quay vlog ẩm thực những món nước</p>

							<div class="custom-block-bottom d-flex justify-content-between mt-3">
								<a href="#" class="bi-headphones me-1">
									<span>100k</span>
								</a>

								<a href="#" class="bi-heart me-1">
									<span>2.5k</span>
								</a>

								<a href="#" class="bi-chat me-1">
									<span>924k</span>
								</a>
							</div>
						</div>

						<div class="social-share d-flex flex-column ms-auto">
							<a href="#" class="badge ms-auto">
								<i class="bi-heart"></i>
							</a>

							<a href="#" class="badge ms-auto">
								<i class="bi bi-share-fill"></i>

							</a>
						</div>
					</div>
				</div>

			</div>
		</div>
	</section>
	<section class="related-podcast-section section-padding">
		<div class="container">
			<div class="row mt-5">
				<div class="section-title-wrap">
					<h4 class="section-title">Bình luận của bạn</h4>
				</div>

				<% if (typeof userId !=='undefined' ) { %>

					<div class="col-lg-7 col-7 mt-5">

						<form action="/client/comments" method="post" id="comment-form" name="comment-form"
							class="comment-form">
							<div class="rating d-flex justify-content-center">
								<input type="radio" id="star-1" name="rating" value="5">
								<label for="star-1">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
										<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
										</path>
									</svg>
								</label>
								<input type="radio" id="star-2" name="rating" value="4">
								<label for="star-2">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
										<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
										</path>
									</svg>
								</label>
								<input type="radio" id="star-3" name="rating" value="3">
								<label for="star-3">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
										<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
										</path>
									</svg>
								</label>
								<input type="radio" id="star-4" name="rating" value="2">
								<label for="star-4">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
										<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
										</path>
									</svg>
								</label>
								<input type="radio" id="star-5" name="rating" value="1">
								<label for="star-5">
									<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
										<path pathLength="360"
											d="M12,17.27L18.18,21L16.54,13.97L22,9.24L14.81,8.62L12,2L9.19,8.62L2,9.24L7.45,13.97L5.82,21L12,17.27Z">
										</path>
									</svg>
								</label>
							</div>

							<span class="error text-danger"></span> <br>
							<input type="hidden" name="product_id">
							<input type="hidden" name="user_id">
							<input type="hidden" name="date">
							<textarea name="contents" id="contents" class="form-control" rows="3"
								placeholder="Bình luận của bạn"></textarea> <br>
							<span class="error text-danger"></span><br> <br>
							<div class="d-flex justify-content-end">
								<button>
									<div class="svg-wrapper-1">
										<div class="svg-wrapper">
											<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" width="24"
												height="24">
												<path fill="none" d="M0 0h24v24H0z"></path>
												<path fill="currentColor"
													d="M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z">
												</path>
											</svg>
										</div>
									</div>
									<span>Đăng</span>
								</button>
							</div>
						</form>

						<% } else { %>
							<div class="container">
								<div class="row">
									<div class="col-lg-12 col-12 text-center mt-3">
										<a href="/client/form/login" class="btn btn btn-outline-dark">Đăng nhập để bình
											luận</a>
									</div>
								</div>
							</div>
							<% } %>
					</div>
					<div class="col-lg-12 col-12 mt-5">
						<div class="section-title-wrap mt-5 mb-5">
							<h4 class="section-title">Danh sách bình luận</h4>
						</div>
						<% if (comments_List.length > 0) { %>
						<% comments_List.forEach(element=> { %>
							<div class="anime__review__item ">
								<div class="anime__review__item__pic">
									<img src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=element.images%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9"
										width="50px" height="50px" class="" alt="">
								</div>

								<div class="anime__review__item__text mb-2">
									<div class="d-flex justify-content-between">
										<label class="font-weight-bold">
											<%= element.username %>
												<h6 class="mb-3">
													<div class="rate d-flex justify-content-center mr-5 ">
														<svg style="display:none;">
															<defs>
																<symbol id="fivestars-1" class="border-none">
																	<path
																		d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
																		fill="white" fill-rule="evenodd" />
																	<path
																		d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
																		fill="white" fill-rule="evenodd"
																		transform="translate(24)" />
																	<path
																		d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
																		fill="white" fill-rule="evenodd"
																		transform="translate(48)" />
																	<path
																		d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
																		fill="white" fill-rule="evenodd"
																		transform="translate(72)" />
																	<path
																		d="M12 .587l3.668 7.568 8.332 1.151-6.064 5.828 1.48 8.279-7.416-3.967-7.417 3.967 1.481-8.279-6.064-5.828 8.332-1.151z M0 0 h24 v24 h-24 v-24"
																		fill="white" fill-rule="evenodd"
																		transform="translate(96)" />
																</symbol>
															</defs>
														</svg>
														<div class="rating-1 ml-md-5">
															<progress class="rating-bg " value="<%= element.rating %>"
																max="5"></progress>
															<svg>
																<use xlink:href="#fivestars-1" />
															</svg>
														</div>
													</div>
												</h6>
										</label>
										<span class="ml-3">
											<%= new Date(element.date ).toLocaleDateString() %>
										</span>
									</div>
									<p class="mt-2 ">
										<%= element.contents %>
									</p>
								</div>
							</div>
							<% }); %>
							<% } else { %>
								<p class="text-center">Không có bình luận nào cho bài viết này.</p>
							<% } %>
					</div>
			</div>
		</div>
	</section>

	<%- include('../layouts/footer') %>