<%- include('../layouts/header') %>
<link rel="stylesheet" href="/styles/css/info.css">
<link rel="stylesheet" href="//cdn.materialdesignicons.com/3.7.95/css/materialdesignicons.min.css">

<header class="site-header d-flex flex-column justify-content-center align-items-center" style="min-height:250px; margin-bottom: 50px;" >
</header>

<div class="container body-profile">
  <div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-4">
                <div class="border-bottom text-center pb-4">
                  <img  src="https://firebasestorage.googleapis.com/v0/b/podcast-ba34e.appspot.com/o/upload%2F<%=user.data[0].images%>?alt=media&token=c6dc72e8-a1b0-41bb-b1f5-84f63f7397e9" alt="profile" class="img-lg rounded-circle mb-3" style="width: 200px; height: 200px;">
                  <div class="mb-3">
                    <h3><%= user.data[0].username %></h3>
                    <div class="d-flex align-items-center justify-content-center">
                      <div class="br-wrapper br-theme-css-stars">
                        <select id="profile-rating" name="rating" autocomplete="off" style="display: none;">
                          <option value="1">1</option>
                          <option value="2">2</option>
                          <option value="3">3</option>
                          <option value="4">4</option>
                          <option value="5">5</option>
                        </select>
                        <div class="br-widget">
                          <a href="#" data-rating-value="1" data-rating-text="1" class="br-selected br-current"></a>
                          <a href="#" data-rating-value="2" data-rating-text="2"></a>
                          <a href="#" data-rating-value="3" data-rating-text="3"></a>
                          <a href="#" data-rating-value="4" data-rating-text="4"></a>
                          <a href="#" data-rating-value="5" data-rating-text="5"></a>
                        </div>
                      </div>
                    </div>
                  </div>
      
                </div>
     
                <div class="py-4">
                  <p class="clearfix">
                    <span class="float-left">
                      Họ và tên: 
                    </span>
                    <span class="float-right text-muted">
                      <%= user.data[0].full_name %>
                    </span>
                  </p>
                  <p class="clearfix">
                    <span class="float-left">
                      Email:
                    </span>
                    <span class="float-right text-muted">
                      <%= user.data[0].email %>
                    </span>
                  </p>
                </div>
            
              </div>
              
            <div class="col-lg-8">
              <div class="mt-4 py-2 border-top border-bottom">
                <ul class="nav profile-navbar">
                  <li class="nav-item">
                    <a class="nav-link active info" href="#" data-section="profile">
                      <i class="mdi mdi-account-outline"></i>
                      Hồ sơ
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link info" href="#" data-section="comments">
                      <i class="mdi mdi-comment"></i>
                      Bình luận 
                    </a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link info" href="#" data-section="posts">
                      <i class="mdi mdi-calendar"></i>
                      Bài đăng
                    </a>
                  </li>
                </ul>
              </div>

              <div id="profile-feed">
                <div id="profile-section" class="profile-feed-item ">
                    <%- include('./profile') %>
                </div>
                <div id="comments-section" class="profile-feed-item d-none">
                  <%- include('./comments') %>
                </div>
                <div id="posts-section" class="profile-feed-item d-none">
                  <%- include('./post') %>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include('../layouts/footer') %>
<script>

    const tabs = document.querySelectorAll('.info');
    const sections = document.querySelectorAll('.profile-feed-item');

    tabs.forEach(tab => {
      tab.addEventListener('click', function(event) {
        event.preventDefault();
        
        tabs.forEach(t => t.classList.remove('active'));
        this.classList.add('active');

        sections.forEach(section => section.classList.add('d-none'));
        const sectionId = this.getAttribute('data-section') + '-section';
        document.getElementById(sectionId).classList.remove('d-none');
      });
    });

</script>
